# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/sound/Chord 1.wav
public/sound/Chord 2.wav
public/sound/Chord 3.wav
public/sound/Closed HH 909.wav
public/sound/Kick 909.wav
public/sound/OpenHH 909.wav
public/sound/Rimshot.wav
public/sound/Snare 909_1.wav
public/sound/Snare 909_2.wav
public/sound/Chord 1.mp3
public/sound/Chord 2.mp3
public/sound/Chord 3.mp3
public/sound/Closed HH 909.mp3
public/sound/Kick 909.mp3
public/sound/OpenHH 909.mp3
public/sound/Rimshot.mp3
public/sound/Snare 909_1.mp3
public/sound/Snare 909_2.mp3
FCC build/asset-manifest.json
FCC build/favicon.ico
FCC build/index.html
FCC build/logo192.png
FCC build/logo512.png
FCC build/manifest.json
FCC build/robots.txt
FCC build/sound/Chord 1.mp3
FCC build/sound/Chord 2.mp3
FCC build/sound/Chord 3.mp3
FCC build/sound/Closed HH 909.mp3
FCC build/sound/Kick 909.mp3
FCC build/sound/OpenHH 909.mp3
FCC build/sound/Rimshot.mp3
FCC build/sound/Snare 909_1.mp3
FCC build/sound/Snare 909_2.mp3
FCC build/static/css/main.ef2723bc.chunk.css
FCC build/static/css/main.ef2723bc.chunk.css.map
FCC build/static/js/2.57cca0a7.chunk.js
FCC build/static/js/2.57cca0a7.chunk.js.LICENSE.txt
FCC build/static/js/2.57cca0a7.chunk.js.map
FCC build/static/js/3.73370248.chunk.js
FCC build/static/js/3.73370248.chunk.js.map
FCC build/static/js/main.cd323d57.chunk.js
FCC build/static/js/main.cd323d57.chunk.js.map
FCC build/static/js/runtime-main.c04800c5.js
FCC build/static/js/runtime-main.c04800c5.js.map
