#pad-div {
    // container for the drum-pads
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
    grid-template-rows: minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
    //grid-auto-flow: row;
    gap: 2.5% 2.5%;
    max-width: 500px;
    //min-height: 300px;
    margin: auto;
    // single drum-pad
    .drum-pad {
        // make sure pad label are always centered:
        display: flex;
        justify-content: center;
        align-items: center;
        //
        width: 100%;
        min-height: 80px;
        font-family: inherit;
        font-size: 2.6em;
        color: #333;
        outline: none;
        cursor: pointer;
        border: 1px solid grey;
        border-radius: 7px;
        background: radial-gradient(#318aff, #470099);
        box-shadow: 0 0 6px 1px #318aff88;
        transition: box-shadow 0.1s;
        // on mouse click (&:active) and JS programmed (toggles 'press' class) click:
        &:active,
        &.press {
            color: #bbb;
            background: radial-gradient(#86bbfe, #7805fb);
            box-shadow: 0 0 40px 4px #7805fb;
        }
        &.off {
            border: 1px solid #333;
            box-shadow: none;
            background: #16062942;
            transition: box-shadow 2s;
        }
    }
}
