footer {
    width: 100%;
    height: auto;
    padding-bottom: 0;
    border-top: 1px solid #333;
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.9em;
        width: 100%;
        margin: 8px auto;
         a {
             color: #318aff;
         }
    }
}