.powerBtn-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    input[type="button"] {
        width: 18px;
        height: 18px;
        margin-top: 0.2em;
        outline: none;
        cursor: pointer;
        border: 1px solid #333;
        border-radius: 9px;
        background: radial-gradient(#c7dfff 20%, #7805fb);
        box-shadow: 0 0 20px 4px #ac69f8;
        &.off {
            background: radial-gradient(at 35% 35%, #afd2ff, #160629 18%);
            box-shadow: none;
        }
    }
    label {
        font-size: 1em;
        margin-left: 0.5em;
        color: #f3f3f3;
        cursor: pointer;
    }
}