#volume-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100%, 640px);
    margin: 3em auto 0;
}
p {
    font-size: 1em;
    width: 80%;
    margin: 0.2em auto 1em;
    color: #f3f3f3;
}
svg {
    margin: 0.1em 0.25em;
    &.on {
        color: #f3f3f3;
    }
    &.off {
        color: #666;
    }
}
span {
    &.on {
        color: #318aff;
        width: 70%;
    }
    &.off {
        color: #666 !important;
        width: 70%;
    }
}
