@import 'drum-pad';
@import 'display';

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
  text-align: center;
  background-color: #888;
}

#drum-machine {
  padding: 40px 8px;
  background: linear-gradient(170deg, #262626 30%, #1a1a1a);
  background-color: #262626;
}


