@import 'drumMachine';
@import 'display';
@import 'drumPad';
@import 'volume';
@import 'powerButton';
@import 'footer';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #888;
}



